@reference "tailwindcss";
@reference "./theme.css";

@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .no-scroll {
    @apply overflow-hidden fixed w-full;
  }

  .pageContainer {
    @apply mx-auto flex h-[100dvh] w-full max-w-[430px] flex-col overflow-hidden bg-purple-500;
  }

  .scrollArea {
    @apply flex-1 overflow-y-auto min-h-0;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }

  .screenSection {
    @apply flex min-h-[100dvh] flex-col;
  }

  .mainSection {
    @apply flex flex-col flex-1 min-h-0;
  }

  .white-pageContainer {
    @apply w-full flex-1 min-h-0 mt-[0.878rem] pt-[2.688rem] pl-[1.462rem] pb-[6.334rem] flex flex-col gap-[2.962rem] rounded-t-[3rem] bg-white;
  }

  .font-unbounded {
    font-family: var(--font-family-unbounded);
  }
}
