@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .no-scroll {
    @apply overflow-hidden fixed w-full;
  }

  .pageContainer {
    @apply w-full flex flex-col max-w-[430px] h-dvh mx-auto overflow-y-auto bg-purple-500;
  }

  .font-unbounded {
    font-family: var(--font-family-unbounded);
  }
}
